<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>@@TITLE@@</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/bootstrap.min.css" media="screen">
  <link rel="stylesheet" href="/main.css">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script type="text/javascript">

    //@@JSON_DATA@@

    const total_col3 = [ 0 ];
    for (const row of powerDetailData.rows) {
      for (let j = 1; j < row.c.length; j++) {
        if (total_col3[j] == undefined)
          total_col3[j] = 0;
        total_col3[j] += row.c[j].v;
      }
    }
    const remove_col3 = [];
    for (let i = total_col3.length - 1; i > 0; i--) {
      if (total_col3[i] == 0) {
        remove_col3.push(i);
      }
    }

    // Load the Visualization API and the piechart package.
    google.charts.load('current', { 'packages': ['corechart', 'table'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(() => {
      const loadDateTimeColumns = rows => {
        rows.forEach(v => {
          v.c[0].v = new Date(v.c[0].v);
        });
      };
      const hAxis = {
        title: '時間',
        format: 'HH:mm',
      };
      const legend = {
        position: 'top',
        maxLines: 5
      };
      {
        loadDateTimeColumns(roomData1.rows);
        const data = new google.visualization.DataTable(roomData1);
        const options = {
          title: '温度/湿度',
          series: {
            0: { targetAxisIndex: 0 },
            1: { targetAxisIndex: 1 },
          },
          hAxis: hAxis,
          vAxes: {
            0: { title: '温度 (C)', format: '##.#' },
            1: { title: '湿度', format: 'percent', gridlines: { count: 0 } },
          },
          legend: legend,
          xxx_explorer: {},
          height: 500
        };
        const chart = new google.visualization.LineChart(document.getElementById('roomGraph1_div'));
        chart.draw(data, options);
      }
      {
        loadDateTimeColumns(roomData2.rows);
        const data = new google.visualization.DataTable(roomData2);
        const options = {
          title: '照度/モーション',
          series: {
            0: { targetAxisIndex: 0 },
            1: { targetAxisIndex: 1 },
          },
          hAxis: hAxis,
          vAxes: {
            0: { title: '照度', format: '##.#', minValue: 0 },
            1: { title: 'モーション', format: '##.#', minValue: 0, gridlines: { count: 0 } },
          },
          legend: legend,
          xxx_explorer: {},
          height: 500
        };
        const chart = new google.visualization.LineChart(document.getElementById('roomGraph2_div'));
        chart.draw(data, options);
      }
      {
        loadDateTimeColumns(powerMainData.rows);
        const data = new google.visualization.DataTable(powerMainData);
        const options = {
          title: '電気の流れ',
          seriesType: 'area',
          xxx_seriesType: 'area',
          series: { 1: { type: 'bars' }, 3: { type: 'bars' } },
          hAxis: hAxis,
          vAxis: { title: '電力量 (kW)', format: '##.#' },
          bar: { groupWidth: '40%', isStacked: true },
          xxx_isStacked: true,
          legend: legend,
          xxx_explorer: {},
          height: 500
        };
        const chart = new google.visualization.ComboChart(document.getElementById('powerMainGraph_div'));
        chart.draw(data, options);
      }
      {
        loadDateTimeColumns(powerDetailData.rows);
        const data = new google.visualization.DataTable(powerDetailData);
        for (const i of remove_col3)
          data.removeColumn(i);
        const options = {
          title: '詳細消費電力',
          hAxis: hAxis,
          vAxis: { title: '消費電力 (W)', format: '#,###' },
          legend: { position: 'top', maxLines: 10 },
          xxx_explorer: {},
          xxx_curveType: 'function',
          height: 500
        };
        const chart = new google.visualization.LineChart(document.getElementById('powerDetailGraph_div'));
        chart.draw(data, options);
      }
      {
        const powerTableData = {};
        powerTableData.cols = [
          { label: '場所', type: 'string' },
          { label: '消費電力(W)', type: 'number' },
          { label: '月概算(円)', type: 'number' },
          { label: '平均(W)', type: 'number' },
          { label: '月概算(円)', type: 'number' },
        ];
        const ti = powerDetailData.cols;
        const vi = powerDetailData.rows[powerDetailData.rows.length - 1].c;
        powerTableData.rows = [];
        let j = 0;
        for (const i of Object.keys(ti)) {
          if (remove_col3.indexOf(parseInt(i)) !== -1)
            continue;
          if (ti[i].type === 'number') {
            let vv = 0;
            let tvv = 0;
            if (j < vi.length) {
              vv = vi[j].v;
              for (let k = 0; k < powerDetailData.rows.length; k++) {
                tvv += powerDetailData.rows[k].c[j].v;
              }
            }
            tvv /= powerDetailData.rows.length;
            powerTableData.rows.push({
              c: [
                { v: ti[i].label },
                { v: vv },
                { v: Math.floor(vv * 24 * 30 * 40 / 1000) },
                { v: tvv.toFixed(2) },
                { v: Math.floor(tvv * 24 * 30 * 40 / 1000) },
              ]
            });
          }
          j++;
        }
        const data = new google.visualization.DataTable(powerTableData);
        const table1 = new google.visualization.Table(document.getElementById('powerDetailTable_div'));
        const options = { width: 600 };
        table1.draw(data, options);
      }
    });
  </script>
</head>

<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">@@TITLE@@</a>
      </div>
    </div>
    <div class="container">
      <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          対象期間<b><span class="caret"></span></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="m15">15 Minutes</a></li>
          <li><a href="m30">30 Minutes</a></li>
          <li><a href="h1">1 Hour</a></li>
          <li><a href="h8">8 Hours</a></li>
          <li><a href="d1">1 Day</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="page-header">
      <div class="row">
        <div class="col-lg-6">
        </div>
      </div>
      <div class="col-lg-6">
      </div>
    </div>

    <div class="main" id="content">
    </div>
  </div>

  <div class="container center">
    <div id="roomGraph1_div" style="width:100%"></div>
  </div>

  <div class="container center">
    <div id="roomGraph2_div" style="width:100%"></div>
  </div>

  <div class="container center">
    <div id="powerMainGraph_div" style="width:100%"></div>
  </div>

  <div class="container center">
    <div id="powerDetailGraph_div" style="width:100%"></div>
  </div>

  <div class="container center">
    <div id="powerDetailTable_div" style="width:100%"></div>
  </div>

  <div class="container">
    <footer>
      <div class="row">
        <div class="col-lg-12">
        </div>
      </div>
    </footer>
  </div>

  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="/bootstrap.min.js"></script>
</body>

</html>
